<h1> WELCOME TO  ANGULAR CHANNEL</h1>
<small>by Mehar Chaithanya Bollina</small>
<h2> How to create first angular website</h2>
<h3> Initial required tools/Environment to be installed in your PC</h3>
<h4>SETUP GITHUB Account (SIGNUP)--Using </h4>
<br />
<a target="_blank" class="fcc-btn" href="https://github.com">GITHUB</a>
<br />

<h4>SETUP Angular Environment:</h4>
<h4>The main packages to be installed to run and work with angular application is</h4>
<p>1)Installing NodeJS<br /></p>
<a href="https://nodejs.org/en/" class="button">NODEJS</a>

<br />
<p>
  2)Node Package Manager(for using java Script)[open cmd ][command : npm install in the required folder.]
  <br />
  3)Angular CLI(which should be installed using command line interface- npm )[command : npm install -g @angular/cli]
</p>
<br />
<h4>TO CHECK INSTALLATION IS DONE:</h4>
<p>
  1) NodeJS  [open cmd: command : npm --version ]<br />
  2) Node Package Manager [open cmd: command : ng --version ]<br />
</p>

<h4>Install Visual studio(latest version)as a text editor:</h4>
<a href="https://code.visualstudio.com/Download" class="button">VStudio</a>
<h4>Now create a repo in github and clone it in visual studio and locally in your machine.</h4>
<h4>Basically to go further in next topics i need to give some brief of major concepts :</h4>
<button (click)="goto('/component')">NEXT:COMPONENTS</button>
<br />
